@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --pr-color:#fff;
    --second-color:#0a0a0a;
    --color-1-1:#BE2518;
    --color-1-2:#ff6b4f;
    --cubicbz: cubic-bezier(.9,0,.1,1);
    --fz-big:60px;
    --pd:50px;
}
*{
    box-sizing:border-box;
    font-family: 'Syne',sans-serif;
    margin:0;
    padding:0;
    font-feature-settings:'pnum' on,'lnum' on;
}
body{
    background: var(--second-color);
}
.wrapper{
    
    position:relative;
    width: 100%;
    height: auto;
    /* padding:0px 20px; */
    /*z-index:1;*/
}
.content{
    width:100%;
    height:auto;
}
/* .spacer{
    position:rela;
    width:100%;
    height:50vh;
    background-color: #ddd;
} */
.work{
    display:flex;
}
.work_left{
    position:relative;
    width:54%;
    z-index:2;
    /*outline:1px solid red;*/
}
.work_text{
    margin:auto;
    width:80%;
}
.work_info{
    
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*outline:1px solid green;*/
}
.work_num{
    display:block;
    line-height: .9;
    text-align: right;
    font-size:18px;
    transform: skew(-20deg);
    color:var(--color-1-1);
}
.title{
    text-align:right;
    font-size:70px;
    text-transform:uppercase;
    color:var(--pr-color);
}
.tittle .stroke{
    display:block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}
.work_link{
    display: block;
    width:365px;
    margin-top:50px;
    margin-left:auto;
    padding:18px 0;
    font-size:20px;
    text-align:center;
    text-transform:uppercase;
    text-decoration: none;
    color:var(--pr-color);
    letter-spacing: 4px;
    border:2px solid var(--color-1-1);
    border-radius: 30px;
    transition:.4s;
}
.work_link:hover{
    background:var(--color-1-1);
    color:var(--color-1-2);
    letter-spacing:6px;
}

.work_right{
    width:46%;
    height:auto;
    /*background:green;*/ 
}

.work_right-bl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    width: 100%;
    height: 100vh;
    top:0;
    /*height:80vh;
    top:10vh; */
    /*background: #ff6b4f;*/
}
.work_photo{
    width: 40vw;
    height: 35vw;
    position: relative;
}
.work_photo-item{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 80px;
    overflow: hidden;
}
.work_photo-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* Footer section */
.footer-section-main{
    font-family: 'Poppins',sans-serif;
    background-color: #0b1225;
    background-size: cover;
    max-width: 100%;
}
.footer-section{
    font-family: 'Poppins',sans-serif;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
}
.footer-left img{
    width: 170px;
    border-radius: 50%;
    
}
.footer-right{
    flex-direction: column;
    list-style: none;
}
.footer-right h1{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 3rem;
    
}
.footer-right ul{
    list-style: none;
}
.icon{
    gap: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px; 
    display: flex;
    align-items: center;
    
}
.icon h4{
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
/* subfooter section */

.subfooter-section{
    background-color: #0a0a0a;
    color: white;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.subfooter-left{
    left: 50px;
}
.subfooter-right{
    display: flex;
    align-items: center;
    right: 50px;
    gap: 50px;
    font-size: 25px;
}
/* .subfooter-right a{
    font-size: 4rem;

} */

















